body {
    margin: 0;
    padding: 0;
    background: transparent;
    font-family: Arial, sans-serif;
}

#overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
    display: flex;
    flex-direction: column;
    min-height: 0;
    cursor: move;
    /* Indicate draggable */
    user-select: none;
    /* Prevent text selection while dragging */
}

#overlay-main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    min-height: 0;
}

#overlay-left-column {
    display: flex;
    flex-direction: column;
    max-width: 508px;
    margin-right: 20px;
    overflow: auto;
    min-width: 0;
    flex: 1;
}

#overlay-stats {
    display: flex;
    flex-direction: column;
    flex: auto;
    min-width: 0;
}

#overlay-main div {
    margin: 0px 8px;
    word-wrap: break-word;
    max-width: 100%;
    line-height: 1.4;
}

#overlay-button-container {
    margin-top: 10px;
    display: flex;
    padding: 10px 0px;
    flex-shrink: 0;
}

#overlay-button-container button {
    color: white;
    background: #555;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    margin: 0px;
    width: auto;
}

#overlay-chart {
    flex: 0 8 400px;
    max-width: 400px;
    min-width: 200px;
    margin-left: 20px;
}

.info-item {
    font-size: 14px;
    margin: 2px 0;
    color: white;
}

.info-item span {
    font-weight: bold;
}

#hitrateChart {
    width: 100% !important;
    height: 100% !important;
}